body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

input, select {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
.summary {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.summary div {
    border: 1px solid #ccc;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.summary h3 {
    margin: 5px;
}

.summary p {
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
}